name: Build Debian Package and Automated Tagging and Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y devscripts debhelper perl graphviz build-essential

    - name: Configure Git Identity
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"

    - name: Automated Tagging
      run: ./tagging-script.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate Changelog
      run: ./generate-changelog.sh

    - name: Read Changelog
      id: changelog
      run: echo "changelog=$(cat CHANGELOG.md)" >> $GITHUB_ENV

    - name: Get latest tag
      id: get_tag
      run: echo "::set-output name=tag::$(git describe --tags --abbrev=0)"

    - name: Install project
      run: |
        sudo make install PREFIX=/usr/local

    - name: Install PyInstaller
      run: pip install pyinstaller

    - name: Build Jaal Binary
      run: pyinstaller --onefile jaal/visualize_with_jaal.py

    - name: Build Debian package
      run: |
        mkdir -p package/DEBIAN
        mkdir -p package/usr/local/bin
        echo "Package: sig2dot2" > package/DEBIAN/control
        echo "Version: ${{ steps.get_tag.outputs.tag }}" >> package/DEBIAN/control
        echo "Section: utils" >> package/DEBIAN/control
        echo "Priority: optional" >> package/DEBIAN/control
        echo "Architecture: all" >> package/DEBIAN/control
        echo "Depends: perl, graphviz" >> package/DEBIAN/control
        echo "Maintainer: David Robert Lewis <ubuntupunk@gmail.com>" >> package/DEBIAN/control
        echo "Description: A tool for visualizing GPG key signatures." >> package/DEBIAN/control
        cp /usr/local/bin/sig2dot-custom package/usr/local/bin/
        cp /usr/local/bin/sig2dot2 package/usr/local/bin/
        mv dist/visualize_with_jaal package/usr/local/bin/
        dpkg-deb --build package
        mv package.deb package/sig2dot2.deb

    - name: List Package Directory
      run: ls -l package

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_tag.outputs.tag }}
        name: Release ${{ steps.get_tag.outputs.tag }}
        body: ${{ env.changelog }}
        draft: false
        prerelease: false
        files: |
          package/*.deb

    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sig2dot2
        path: package/sig2dot2.deb
