name: Build Debian Package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y devscripts debhelper perl graphviz build-essential

    - name: Automated Tagging
      run: ./tagging-script.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Get latest tag
      id: get_tag
      run: echo "::set-output name=tag::$(git describe --tags --abbrev=0)"

    - name: Install project
      run: |
        sudo make install PREFIX=/usr/local

    - name: Build Debian package
      run: |
        mkdir -p package/DEBIAN
        echo "Package: sig2dot2" > package/DEBIAN/control
        echo "Version: ${{ steps.get_tag.outputs.tag }}" >> package/DEBIAN/control
        echo "Section: utils" >> package/DEBIAN/control
        echo "Priority: optional" >> package/DEBIAN/control
        echo "Architecture: all" >> package/DEBIAN/control
        echo "Depends: perl, graphviz" >> package/DEBIAN/control
        echo "Maintainer: David Robert Lewis <ubuntupunk@gmail.com>" >> package/DEBIAN/control
        echo "Description: A tool for visualizing GPG key signatures." >> package/DEBIAN/control
        mkdir -p package/usr/local/bin
        cp /usr/local/bin/sig2dot-custom package/usr/local/bin/
        cp /usr/local/bin/sig2dot2 package/usr/local/bin/
        dpkg-deb --build package
        mv package.deb sig2dot2.deb

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_tag.outputs.tag }}
        release_name: Release ${{ steps.get_tag.outputs.tag }}
        body: |
          ## Changelog
          - Initial release with sig2dot2 and sig2dot-custom
        draft: false
        prerelease: false
        files: |
          package/*.deb

    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sig2dot2
        path: sig2dot2.deb
